:root{
    --color1: #213d4b;
    --color2: #345163;
    --color3: #5b7382;
    --color4: #b0b8be;
    --color5: #f2f3f4;
    --color6: #f2f3f4;
    --color7: #333333;

    --font-family1: 'Montserrat', sans-serif;
    --font-family2: 'Qwigley', sans-serif;
    --font-family3: 'Bassy', sans-serif;
}